root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
tab_width = 2

[.*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
tab_width = 2

[*.md]
trim_trailing_whitespace = false

[*.go]
indent_style = tab
tab_width = 4

[go.mod]
indent_style = tab
tab_width = 4

[go.sum]
indent_style = tab
tab_width = 4

[Makefile]
indent_style = tab
tab_width = 4

[*.mk]
indent_style = tab
tab_width = 4

[justfile]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[*.ps1]
indent_style = space
indent_size = 4

[Dockerfile]
indent_style = space
indent_size = 2

[*.tf]
indent_style = space
indent_size = 2

[*.tfvars]
indent_style = space
indent_size = 2

[*.auto.tfvars]
indent_style = space
indent_size = 2

[*.tfbackend]
indent_style = space
indent_size = 2

[*.hcl]
indent_style = space
indent_size = 2

[*.tftpl]
indent_style = space
indent_size = 2

[*.tpl]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2

[*.yaml]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2

[*.jsonc]
indent_style = space
indent_size = 2

[*.sh]
indent_style = space
indent_size = 2

[*.mdx]
trim_trailing_whitespace = false

[*.txt]
indent_style = space
indent_size = 2
